/* --------------------------------------------------------------------------
    Title: Plumbinn HTML Template
    Made by: Ozient Software and Technologies
    All Rights are Reserved.

    -----------------------------------------------
        Only Media Query's File
    -----------------------------------------------
----------------------------------------------------------------------------- */
@media only screen and (max-width: 1175px) and (min-width: 560px){
    .owl-setting{
        margin-top: -6%;
    }
}
@media only screen and (max-width: 559px){
    .owl-setting{
        margin-top: -15%;
    }
}
@media only screen and (max-width: 559px) and (min-width: 350px){
    .owl-setting{
        margin-top: -11%;
    }
}
@media only screen and (max-width: 1000px){
    #owl-demo .item .txt-overlay{
        margin-left: 5%;
    }
}
@media only screen and (max-width: 800px){
    #owl-demo .item .txt-overlay{
        display: none;
    }
}



@media (min-width: 1200px) {
    #thelast .container {
        max-width: 1170px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){
    .quality-txt{
        margin-top: 0!important;
    }
    .quality-img-col{
        margin-top: 25px;
    }
}
@media (max-width:1199px) {
    .offer_banner .offer_banner_outer {
        width: 100%;
        left: inherit;
        padding: 0px;
        margin: 0 auto;
        position: relative;
        background: none;
        top: 0px;
    }
}
    @media(max-width:992px) {
        .emergency_contact h1 {
            padding: 0px;
        }
        .appointment_inner p {
            padding: 0px;
        }
        .footer_last ul {
            text-align: center;
        }
        .footer_last p {
            text-align: center;
        }
        .blog-third{
            margin-top: 9%;
        }
        .two-blogs-row{
            margin-top: 9%;
        }
    }
    @media only screen and (min-width:992px){
        #mobile_air_supply_advantages{
            visibility: hidden;
            display: none;
        }
    }
    @media only screen and (max-width:991px){
        #blog-share-box-third{
            margin-top: 9%;
        }
        #air_supply_advantages{
            visibility: hidden;
            display: none;
        }
        #mobile_air_supply_advantages{
            visibility: visible;
        }
        #third-team-member{
            margin-top: 9%;
        }
        #fourth-team-member{
            margin-top: 9%;
        }
    }
    @media (min-width: 900px) {
        [data-pagination] {
          font-size: 16pt;
        }
      }
      @media(max-width:870px) {
        .contact_nuber {
            position: relative;
        }
        .contact_nuber ul li {
            display: block;
        }
        .contact_nuber ul {
            width: auto;
            height: auto;
            line-height: 46px;
            padding: 10px 0px;
        }
    }
    @media only screen and (min-width:767px){
        .two-blogs-row{
            margin-top: 9%;
        }
    }
    @media only screen and (max-width:767px){
        #project-box-two{
            margin-top: 9%;
        }
        #project-box-three{
            margin-top: 9%;
        }
        .blog-second{
            margin-top: 9%;
        }
        .blog-third{
            margin-top: 9%;
        }
        
        #blog-share-box-second{
            margin-top: 9%;
        }
        .blog-share-box-third{
            margin-top: 9%;
        }
        .contact-us-details{
            margin-top: 15%;
        }
        #third-team-member{
            margin-top: 9%;
        }
        #fourth-team-member{
            margin-top: 9%;
        }
        #second-team-member{
            margin-top: 9%;
        }
    }
    @media only screen and (max-width: 767px) and (min-width: 500px){
        .search_icon{
            top: 41px;
        }
     
     }
     @media (min-width: 700px) {
        [data-pagination] {
          font-size: 14pt;
        }
      }
      @media only screen and (max-width: 575px){
        .facts{
            padding-bottom: 60px;
        }
        .facts .facts_inner{
            margin-bottom: 40px!important;
        }
    }
    @media (min-width: 500px) {
        [data-pagination] {
          font-size: 12pt;
        }
      }
      @media (max-width:500px) {
        .footer_last ul {
            display: none;
        }
        .testim .arrow {
            font-size: 1.5em;
          }
          
          .testim .cont div p {
            line-height: 25px;
          }
    }
    @media (min-width: 350px) {
        [data-pagination] {
          font-size: 10pt;
        }
      }
      @media only screen and (max-width: 325px){
        .read_more_datecomment{
            font-size: 76%;
        }
     
     }
     @media all and (max-width: 300px) {
        body {
          font-size: 14px;
        }
      }